@import "themes.css";

:root {
    --font: Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    font-size: 1.5em;
    line-height: 1.65;
}

body {
    max-width: 25em;
    margin: auto;
    padding: 5em;
}

@media (max-width: 684px) {
    body {
        padding: 1em;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.25em;
        padding: 1em;
    }
}

::selection {
    background-color: var(--accent);
    color: var(--crust);
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h3 {
    font-size: 1.2em;
    margin: 0;
}

a {
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    filter: brightness(90%);
}

nav a {
    margin-right: 1em;
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
pre {
    background-color: var(--mantle) !important;
    border-radius: 0.5em;
    padding: 1em;
    counter-reset: step;
    counter-increment: step 0;
}

code .line::before {
    display: inline-block;
    margin-right: 1.5rem;
    text-align: right;    
    color: var(--text);
    filter: opacity(50%);
    width: 1rem;

    content: counter(step);
    counter-increment: step;
}
