:root {
    --background: #24273A;
    --crust: #181926;
    --mantle: #1E2030;
    --accent: #C6A0F6;
    --text: #CAD3F5;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #EFF1F5;
        --crust: #DCE0E8;
        --mantle: #E6E9EF;
        --accent: #8839Ef;
        --text: #4C4F69;
    }
}

::selection {
    background-color: var(--accent);
    color: var(--crust);
}

body {
    position: fixed;
    top: 15%;
    left: 30%;

    background-color: var(--background);
    color: var(--text);

    line-height: 1.75;
    font-size: 1.75em;
    font-family: Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

h1 {
    margin: 0;
}

nav a {
    margin-right: 1em;
}

a {
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    filter: brightness(90%);
}

/* @keyframes animation {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media not (prefers-reduced-motion) {
    h1, nav {
        transform: translateY(50%);
        opacity: 0;
        animation: animation 400ms ease-in-out 100ms forwards;
    }

    main {
        transform: translateY(50%);
        opacity: 0;
        animation: animation 400ms ease-in-out 200ms forwards;
    }
} */