---
interface Props {
    title: string;
    icon: string;
}

const { title, icon } = Astro.props;
---

<div class="widget">
    <img src={icon} width="64" height="64">

    <div class="content">
        <p style="user-select: none"><b>{title}</b></p>
        <hr>
        <slot />
    </div>
</div>

<style>
    .widget {
        display: flex;
        text-align: left;
        padding: 1.5em;
        gap: 30px;
        border: 2px solid var(--surface-3);
        width: 550px;
        min-height: 120px;
    }

    @media (max-width: 700px) {
        .widget {
            width: 400px;
        }
    }

    .widget img {
        align-self: center;
        user-select: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: inherit;
    }
</style>