---
interface Props {
    title: string;
    description: string;
    url?: string;
}

const { title, description, url } = Astro.props;
---
<div class="card">
    <slot name="before" />
    <p id="title">
        <b>
            {url == null ? title : <a href={url}>{title}</a>}
        </b>
    </p>
    <p>{description}</p>
    <slot name="after" />
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1em;
        border: 2px solid var(--surface-3);
    }

    .card a {
        --color: var(--text);
    }

    .card #title {
        margin-bottom: 5px;
    }
</style>