---
const year = new Date().getFullYear();
---
<footer>
    <span id="footer">
        copyright (c) mudkip {year}. all rights reserved.
        <br>
        website inspired by <a href="https://zptr.cc" target="_blank">zptr</a>
    </span>
</footer>

<style>
    span#footer, span#footer a {
        color: var(--surface-5);
    }
</style>