---
---
<div id="profile">
    <img src="https://avatars.githubusercontent.com/u/86132148" width="80" height="80">

    <div id="text">
        <h1>mudkip</h1>

        <div id="links">
            <a href="https://bsky.app/profile/mudkip.dev" class="button" target="_blank">bluesky</a>
            <a href="https://github.com/mudkipdev" class="button" target="_blank">github</a>
            <a href="mailto:mudkip@mudkip.dev" class="button" data-tooltip="mudkip@mudkip.dev">email</a>
        </div>
    </div>
</div>

<hr>

<style>
    #profile {
        display: flex;
        flex-direction: row;
        user-select: none;
        gap: 1.25em;
    }

    #profile #text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    #profile #text #links {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
</style>