---
import Accordion from "@components/Accordion.astro";
---
<Accordion title="friends" name="about">
    <a href="https://goldenstack.net" class="badge">
        <img loading="lazy" src="/buttons/golden.png">
    </a>
</Accordion>

<style>
    .badge {
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
    }

    .badge:hover {
        filter: brightness(80%);
    }
</style>