---
import Accordion from "@components/Accordion.astro";
---
<Accordion title="fun facts" name="about">
    <ul>
        <li>I speak English, Russian, and toki pona. I'm also taking Spanish at school and learning Japanese in my free time.</li>
        <li>I have been to about 40 U.S. states and a handful of countries.</li>
        <li>I like cats, but I can't keep one because my family is allergic.</li>
    </ul>
</Accordion>