---
import Accordion from "@components/Accordion.astro";
---
<Accordion title="pc specs" name="about">
    <ul>
        <li><b>cpu:</b> Ryzen 5 3600</li>
        <li><b>gpu:</b> Radeon RX 6800</li>
        <li><b>ram:</b> 32 GB (DDR4, 3600 MHz)</li>
        <li><b>storage: </b>1.7 TB (combined) SSDs, 2 TB HDD</li>
    </ul>
    <hr>
    <ul>
        <li><b>laptop:</b> MacBook Air M2</li>
        <li><b>laptop:</b> ThinkPad T480S</li>
        <li><b>phone:</b> iPhone 14</li>
    </ul>
</Accordion>