---
import Accordion from "@components/Accordion.astro";
---
<Accordion title="tech stack" name="about">
    <ul>
        <li><b>backend:</b> python, java, kotlin, rust</li>
        <li><b>frontend:</b> javascript, typescript, astro</li>
        <li><b>databases:</b> postgres, mongodb, sqlite</li>
        <li><b>misc:</b> bash, docker, lua, nix</li>
    </ul>
</Accordion>