---
import Page from "@layouts/Page.astro";
---
<Page title="about">
    <p><b>backend</b></p>
    <ul>
        <li>python</li>
        <li>java</li>
        <li>kotlin</li>
        <li>rust</li>
    </ul>

    <br>
    <p><b>frontend</b></p>
    <ul>
        <li>javascript</li>
        <li>typescript</li>
        <li>astro</li>
    </ul>

    <br>
    <p><b>databases</b></p>
    <ul>
        <li>postgres</li>
        <li>mongodb</li>
        <li>sqlite</li>
    </ul>

    <br>
    <p><b>linux</b></p>
    <ul>
        <li>bash</li>
        <li>docker</li>
        <li>nix</li>
    </ul>
</Page>

<style>
    li {
        margin-left: 1em;
    }
</style>