---
import Page from "@layouts/Page.astro";
import Post from "@components/cards/Post.astro";
import Cards from "@components/cards/Cards.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---
<Page title="blog">
    {
        posts.length == 0
        ? <p>there are currently no published posts</p>
        : (
            <Cards>
                {posts.map(post => (
                    <Post post={post} />
                ))}
            </Cards>
        )
    }

</Page>