---
import Page from "@layouts/Page.astro";
import Cards from "@components/Cards.astro";
import Card from "@components/Card.astro";
import DateComponent from "@components/Date.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---
<Page title="blog" path="~/blog">
    {
        posts.length == 0
        ? <p>there are currently no published posts</p>
        : (
            <Cards>
                {posts.map(post => (
                    <Card
                        title={post.data.title}
                        description={post.data.description}
                        url={"/blog/" + post.slug}
                    >
                        <DateComponent slot="after" date={new Date(Date.UTC(
                            post.data.date.getUTCFullYear(),
                            post.data.date.getUTCMonth(),
                            post.data.date.getUTCDate(),
                            18, 0, 0
                        ))} />
                    </Card>
                ))}
            </Cards>
        )
    }

</Page>