---
import Page from "@layouts/Page.astro";
import Cards from "@components/Cards.astro";
import Card from "@components/Card.astro";
import Date from "@components/Date.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---
<Page title="blog">
    {
        posts.length == 0
        ? <p>there are currently no published posts</p>
        : (
            <Cards>
                {posts.map(post => (
                    <Card
                        title={post.data.title}
                        description={post.data.description}
                        url={"/blog/" + post.slug}
                    >
                        <Date slot="after" date={post.data.date} />
                    </Card>
                ))}
            </Cards>
        )
    }

</Page>