---
import Page from "@layouts/Page.astro";

const bio = "I'm a software developer and security researcher, my interests include programming, video games, and music.";
---
<Page title="mudkip" path="~/">
    <Fragment slot="metadata">
        <title>~/</title>
        <meta property="og:title" content="mudkip" />
        <meta property="og:description" content={bio} />
    </Fragment>

    <p>{bio}</p>
    <span style="color: var(--surface-5)">(I also use NixOS btw)</span>
</Page>