---
import Page from "@layouts/Page.astro";
---
<Page title="mudkip">
	<p>i use NixOS btw</p>
	<ul>
		<li>Matrix: <a href="https://matrix.to/#/@mudkipdev:matrix.org">@mudkipdev:matrix.org</a></li>
		<li>GitHub: <a href="https://github.com/mudkipdev" target="_blank">mudkipdev</a></li>
		<li>Email: <a href="mailto:mudkip@mudkip.dev">mudkip@mudkip.dev</a></li>
	</ul>
</Page>
