---
import Page from "@layouts/Page.astro";

const bio = "I'm a software developer and security researcher, my interests include programming, video games, and music.";
---
<Page title="mudkip">
    <Fragment slot="metadata">
        <title>~/</title>
        <meta property="og:title" content="mudkip" />
        <meta property="og:description" content={bio} />
    </Fragment>

    <p>{bio}</p>
    <span style="color: var(--surface-5)">(I also use NixOS btw)</span>

    <!-- <ul>
        <li>Matrix: <a href="https://matrix.to/#/@mudkip:nope.chat" target="_blank">@mudkip:nope.chat</a></li>
        <li>GitHub: <a href="https://github.com/mudkipdev" target="_blank">mudkipdev</a></li>
        <li>Email: <a href="mailto:mudkip@mudkip.dev">mudkip@mudkip.dev</a></li>
    </ul> -->
</Page>
