---
import Page from "@layouts/Page.astro";
import Footer from "@components/Footer.astro";
---
<Page title="mudkip">
    <p>
        i'm a software developer and security researcher, my interests include programming, video games, and music.
        <br><span style="color: var(--surface-2)">(i also use NixOS btw)</span>
    </p>
    <ul>
        <li>Matrix: <a href="https://matrix.to/#/@mudkip:nope.chat" target="_blank">@mudkip:nope.chat</a></li>
        <li>GitHub: <a href="https://github.com/mudkipdev" target="_blank">mudkipdev</a></li>
        <li>Email: <a href="mailto:mudkip@mudkip.dev">mudkip@mudkip.dev</a></li>
    </ul>
    <Footer />
</Page>
