---
import Page from "@layouts/Page.astro";
import Footer from "@components/Footer.astro";
---
<Page title="mudkip">
    <p>i use NixOS btw</p>
    <ul>
        <li>Matrix: <a href="https://matrix.to/#/@mudkipdev:matrix.org" target="_blank">@mudkipdev:matrix.org</a></li>
        <li>GitHub: <a href="https://github.com/mudkipdev" target="_blank">mudkipdev</a></li>
        <li>Email: <a href="mailto:mudkip@mudkip.dev">mudkip@mudkip.dev</a></li>
    </ul>
    <Footer />
</Page>
