---
import Page from '../layouts/Page.astro'
import Card from '../components/Card.astro'
---
<Page title="projects">
    <div class="cards">
        <Card
            title="website"
            description="My personal website written with Astro and TypeScript."
            url = "https://github.com/mudkipdev/website"
        />

        <Card
            title="scnewsbot"
            description="A bot for the r/starcitizen Discord server."
            url="https://github.com/mudkipdev/scnewsbot"
        />
    </div>
</Page>

<style>
    .cards {
        margin: 1em auto;
        gap: 0.75em;
        display: flex;
        flex-direction: column;
    }
</style>