---
import Page from "@layouts/Page.astro";
import Accordion from "@components/Accordion.astro";
import Card from "@components/cards/Card.astro";
import Cards from "@components/cards/Cards.astro";
---
<Page title="projects">
    <Cards>
        <Card
            title="website"
            description="My personal website written with Astro and TypeScript."
            url="https://github.com/mudkipdev/website"
        />

        <Card
            title="skylite"
            description="A Minecraft server featuring fun and unique minigames built with Minestom."
            url="https://github.com/skylite-network"
        />
    </Cards>

    <Accordion title="future ideas">
        <ul>
            <li>tui code editor (currently working on it)</li>
            <li>programming language</li>
            <li>a "tools" web app (convert between file formats, encode to base64/rot13, optimize images, etc)</li>
			<li>decentralized chat app that would be p2p instead of federated</li>
        </ul>
    </Accordion>
</Page>

<style>
    li {
        margin: 0.5em 0em 0.5em 1em;
    }
</style>
