---
import Chat from "@components/chat/Chat.astro";
import WorkInProgress from "@components/WorkInProgress.astro";
import Page from "@layouts/Page.astro";
---
<Page title="random">
    <WorkInProgress />
    <div style="margin: 1em 0"></div>
    <Chat />
</Page>