---
import Date from "@components/Date.astro";

interface Props {
    title: string;
    description: string;
    url?: string;
    date?: Date;
}

const { title, description, url, date } = Astro.props
---
<div class="card">
    <h2>{
        url == null
        ? title
        : <a data-astro-prefetch="false" href={url} target="_blank">{title}</a>
    }</h2>

    <div>
        <p>{description}</p>
        {date != undefined && <Date date={date} />}
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1em;
        background-color: var(--mantle);
        border-radius: 0.5em;
    }

    .card * {
        margin: 0;
    }

    .card a {
        color: var(--text);
    }

    .card p {
        font-size: 0.85em;
    }
</style>