---
interface Props {
    title: string;
    description: string;
    url?: string;
}

const { title, description, url } = Astro.props
---
<div class="card">
    <h2>{
        url == null
        ? title
        : <a data-astro-prefetch="false" href={url}>{title}</a>
    }</h2>

    <p>{description}</p>
    <slot name="after" />
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1em;
        background-color: var(--mantle);
        border-radius: 0.5em;
    }

    .card * {
        margin: 0;
    }

    .card a {
        color: var(--text);
    }

    .card p {
        font-size: 0.85em;
        margin-bottom: 5px;
    }
</style>