---
interface Props {
    title: string;
    description: string;
    url?: string;
}

const { title, description, url } = Astro.props
---
<div class="card">
    {url == null
        ? <h2>{title}</h2>
        : <a href={url} target="_blank">{title}</a>}
    <p>{description}</p>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1em;
        max-width: 30em;
        background-color: var(--mantle);
        border-radius: 0.5em;
    }

    .card * {
        margin: 0;
        font-size: 0.85em;
    }

    .card a {
        color: var(--text);
        font-size: 1.25em;
    }
</style>