---
const endpoint = "https://wakatime.com/api/v1/users/current/stats/last_7_days";
const apiKey: string = import.meta.env.WAKATIME_API_KEY;
let data = undefined;

if (apiKey != undefined) {
    const response = await fetch(endpoint, {
        method: "GET",
        headers: {
            "User-Agent": "https://mudkip.dev",
            "Authorization": `Basic ${btoa(apiKey)}`,
            "Content-Type": "application/json"
        }
    });

    data = (await response.json())["data"];
}
---

<center>
    <div class="stats">
        <img src="/images/computer.png" width="64" height="64">

        <div>
            <p><b>coding stats</b></p>
            <hr>
            {
                data ?
                <p><b>this week: </b>{data["human_readable_total"]}</p>
                <p><b>daily average: </b>{data["human_readable_daily_average"]}</p>
                : <span class="error">failed to fetch data!</span>
            }
        </div>
    </div>
</center>

<style>
    .stats {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1.5em;

        max-width: fit-content;
        border: 2px solid var(--surface-3);
        padding: 1.5em;
    }
</style>