---
---
<footer>
    <a href="https://mudkip.dev"><img alt="mudkip" src="/buttons/mudkip.png"></a>
    <a href="https://matdoes.dev/retro"><img src="/buttons/mat.png"></a>
    <a href="https://zeffo.me"><img src="/buttons/aman.webp" /></a>
    <a href="https://goldenstack.net"><img src="/buttons/golden.png"></a>
    <a href="https://damcraft.de"><img src="/buttons/dam.png"></a>
    <a href="https://nikolan.xyz"><img src="/buttons/niko.png"></a>
    <a href="https://paddyk45.de"><img src="/buttons/paddy.png"></a>
    <a href="https://emortaldev.github.io"><img src="/buttons/emortal.png"></a>
    <a href="https://mozilla.org/firefox"><img src="/buttons/firefox.png"></a>
    <a href="https://code.visualstudio.com"><img src="/buttons/vsc.gif"></a>
    <a href="https://ublockorigin.com"><img src="/buttons/ublock.png"></a>
    <a href="https://512kb.club"><img src="/buttons/512kb-club.gif"></a>
</footer>

<style>
    footer a {
        width: 88;
        height: 31;
        image-rendering: pixelated;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>