---
---
<footer>
    <a href="https://mudkip.dev"><img src="/buttons/mudkip.png"></a>
    <a href="https://matdoes.dev"><img src="/buttons/mat.png" /></a>
    <a href="https://zeffo.me"><img src="/buttons/aman.webp" /></a>
    <a href="https://goldenstack.net"><img src="/buttons/golden.png" /></a>
    <a href="https://mozilla.org/firefox/"><img src="/buttons/firefox.png" /></a>
    <a href="https://code.visualstudio.com"><img src="/buttons/vsc.gif" /></a>
    <a href="https://nixos.org/"><img src="/buttons/nixos.png" /></a>
</footer>

<style>
    #webring {
        display: flex;
    }

    footer a {
        width: 88;
        height: 31;
        image-rendering: pixelated;
    }
</style>