---
---
<nav>
    <a href="/">/home</a>
    <span class="divider">|</span>
    <a href="/about">/about</a>
    <span class="divider">|</span>
    <a href="/projects">/projects</a>
    <span class="divider">|</span>
    <a href="/blog">/blog</a>
</nav>

<style>
    nav {
        display: flex;
        flex-direction: row;
        user-select: none;
        gap: 1em;
    }

    nav span.divider {
        color: var(--surface-5);
    }

    nav a:nth-of-type(1) {
        --color: var(--ctp-macchiato-red);
    }

    nav a:nth-of-type(2) {
        --color: var(--ctp-macchiato-peach);
    }

    nav a:nth-of-type(3) {
        --color: var(--ctp-macchiato-yellow);
    }

    nav a:nth-of-type(4) {
        --color: var(--ctp-macchiato-green);
    }

    nav a:nth-of-type(5) {
        --color: var(--ctp-macchiato-blue);
    }
</style>