---
---
<nav>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/projects">projects</a>
    <a href="/blog">blog</a>
</nav>

<style>
    a:nth-child(1) {
        color: #ED8796;
    }

    a:nth-child(2) {
        color: #F5A97F;
    }

    a:nth-child(3) {
        color: #EED49E;
    }

    a:nth-child(4) {
        color: #A6DA95;
    }

    a:nth-child(5) {
        color: #8AADF4;
    }
</style>