---
---
<div id="profile">
    <img src="https://avatars.githubusercontent.com/u/86132148" width="80" height="80">
    <h1>mudkip</h1>
</div>

<hr>

<style>
    #profile {
        display: flex;
        flex-direction: row;
        user-select: none;
        gap: 1.25em;
    }
</style>