---
---
<p>work in progress<span id="wip">...</span></p>

<script>
    const element = document.getElementById("wip");
    let iteration = 3;

    setInterval(() => {
        if (!element) {
            return;
        } else if (iteration > 5) {
            iteration = 0;
        }

        element.textContent = ".".repeat(iteration > 3 ? 3 : iteration);
        iteration++;
    }, 250);
</script>