:root {
    --ctp-macchiato-rosewater: #f4dbd6;
    --ctp-macchiato-rosewater-rgb: 244 219 214;
    --ctp-macchiato-rosewater-hsl: 10.000 57.692% 89.804%;
    --ctp-macchiato-flamingo: #f0c6c6;
    --ctp-macchiato-flamingo-rgb: 240 198 198;
    --ctp-macchiato-flamingo-hsl: 0.000 58.333% 85.882%;
    --ctp-macchiato-pink: #f5bde6;
    --ctp-macchiato-pink-rgb: 245 189 230;
    --ctp-macchiato-pink-hsl: 316.071 73.684% 85.098%;
    --ctp-macchiato-mauve: #c6a0f6;
    --ctp-macchiato-mauve-rgb: 198 160 246;
    --ctp-macchiato-mauve-hsl: 266.512 82.692% 79.608%;
    --ctp-macchiato-red: #ed8796;
    --ctp-macchiato-red-rgb: 237 135 150;
    --ctp-macchiato-red-hsl: 351.176 73.913% 72.941%;
    --ctp-macchiato-maroon: #ee99a0;
    --ctp-macchiato-maroon-rgb: 238 153 160;
    --ctp-macchiato-maroon-hsl: 355.059 71.429% 76.667%;
    --ctp-macchiato-peach: #f5a97f;
    --ctp-macchiato-peach-rgb: 245 169 127;
    --ctp-macchiato-peach-hsl: 21.356 85.507% 72.941%;
    --ctp-macchiato-yellow: #eed49f;
    --ctp-macchiato-yellow-rgb: 238 212 159;
    --ctp-macchiato-yellow-hsl: 40.253 69.912% 77.843%;
    --ctp-macchiato-green: #a6da95;
    --ctp-macchiato-green-rgb: 166 218 149;
    --ctp-macchiato-green-hsl: 105.217 48.252% 71.961%;
    --ctp-macchiato-teal: #8bd5ca;
    --ctp-macchiato-teal-rgb: 139 213 202;
    --ctp-macchiato-teal-hsl: 171.081 46.835% 69.020%;
    --ctp-macchiato-sky: #91d7e3;
    --ctp-macchiato-sky-rgb: 145 215 227;
    --ctp-macchiato-sky-hsl: 188.780 59.420% 72.941%;
    --ctp-macchiato-sapphire: #7dc4e4;
    --ctp-macchiato-sapphire-rgb: 125 196 228;
    --ctp-macchiato-sapphire-hsl: 198.641 65.605% 69.216%;
    --ctp-macchiato-blue: #8aadf4;
    --ctp-macchiato-blue-rgb: 138 173 244;
    --ctp-macchiato-blue-hsl: 220.189 82.813% 74.902%;
    --ctp-macchiato-lavender: #b7bdf8;
    --ctp-macchiato-lavender-rgb: 183 189 248;
    --ctp-macchiato-lavender-hsl: 234.462 82.278% 84.510%;
    --ctp-macchiato-text: #cad3f5;
    --ctp-macchiato-text-rgb: 202 211 245;
    --ctp-macchiato-text-hsl: 227.442 68.254% 87.647%;
    --ctp-macchiato-subtext1: #b8c0e0;
    --ctp-macchiato-subtext1-rgb: 184 192 224;
    --ctp-macchiato-subtext1-hsl: 228.000 39.216% 80.000%;
    --ctp-macchiato-subtext0: #a5adcb;
    --ctp-macchiato-subtext0-rgb: 165 173 203;
    --ctp-macchiato-subtext0-hsl: 227.368 26.761% 72.157%;
    --ctp-macchiato-overlay2: #939ab7;
    --ctp-macchiato-overlay2-rgb: 147 154 183;
    --ctp-macchiato-overlay2-hsl: 228.333 20.000% 64.706%;
    --ctp-macchiato-overlay1: #8087a2;
    --ctp-macchiato-overlay1-rgb: 128 135 162;
    --ctp-macchiato-overlay1-hsl: 227.647 15.455% 56.863%;
    --ctp-macchiato-overlay0: #6e738d;
    --ctp-macchiato-overlay0-rgb: 110 115 141;
    --ctp-macchiato-overlay0-hsl: 230.323 12.351% 49.216%;
    --ctp-macchiato-surface2: #5b6078;
    --ctp-macchiato-surface2-rgb: 91 96 120;
    --ctp-macchiato-surface2-hsl: 229.655 13.744% 41.373%;
    --ctp-macchiato-surface1: #494d64;
    --ctp-macchiato-surface1-rgb: 73 77 100;
    --ctp-macchiato-surface1-hsl: 231.111 15.607% 33.922%;
    --ctp-macchiato-surface0: #363a4f;
    --ctp-macchiato-surface0-rgb: 54 58 79;
    --ctp-macchiato-surface0-hsl: 230.400 18.797% 26.078%;
    --ctp-macchiato-base: #24273a;
    --ctp-macchiato-base-rgb: 36 39 58;
    --ctp-macchiato-base-hsl: 231.818 23.404% 18.431%;
    --ctp-macchiato-mantle: #1e2030;
    --ctp-macchiato-mantle-rgb: 30 32 48;
    --ctp-macchiato-mantle-hsl: 233.333 23.077% 15.294%;
    --ctp-macchiato-crust: #181926;
    --ctp-macchiato-crust-rgb: 24 25 38;
    --ctp-macchiato-crust-hsl: 235.714 22.581% 12.157%;
}