:root {
    --font: Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;

    --background: #24273A;
    --crust: #181926;
    --mantle: #1E2030;
    --accent: #C6A0F6;
    --text: #CAD3F5;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #EFF1F5;
        --crust: #DCE0E8;
        --mantle: #E6E9EF;
        --accent: #8839Ef;
        --text: #4C4F69;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    font-size: 1.5em;
    line-height: 1.75;
}

body {
    max-width: 25em;
    margin: auto;
    padding: 5em;
}

@media (max-width: 684px) {
    body {
        padding: 1em;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.25em;
        padding: 1em;
    }
}

::selection {
    background-color: var(--accent);
    color: var(--crust);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    filter: brightness(90%);
}

nav a {
    margin-right: 1em;
}