@import "catppuccin.css";

@font-face {
    font-family: Terminus;
    src: url("/fonts/terminus.ttf");
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: var(--ctp-macchiato-base);
    --surface-1: var(--ctp-macchiato-crust);
    --surface-2: var(--ctp-macchiato-mantle);
    --surface-3: var(--ctp-macchiato-surface0);
    --surface-4: var(--ctp-macchiato-surface1);
    --surface-5: var(--ctp-macchiato-surface2);
    --accent: var(--ctp-macchiato-mauve);
    --text: var(--ctp-macchiato-text);
}

::selection {
    background: var(--accent);
    color: var(--surface-1);
}

* {
    padding: 0;
    margin: 0;
}

@media (max-width: 700px) {
    :root {
        --background: var(--surface-2);
    }

    main {
        width: 100%;
        height: 100%;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 850px;

    background: var(--background);
    color: var(--text);
}

main {
    flex: 1;
    padding: 2em;
    background: var(--surface-2);
}

* {
    font-family: Terminus, monospace;
    font-size: 22px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

li {
    margin-left: 1.25em;
}

hr {
    border: 1px solid var(--surface-3);
    margin: 1em 0;
}

a:not(.button):not(img) {
    color: var(--color, var(--accent));
    font-weight: 700;
}

a:not(.button):not(img):hover {
    background: var(--color, var(--accent));
    color: var(--surface-1);
    text-decoration: none;
}

/* Buttons */

button, a.button {
    padding: 6px 16px;
    max-width: 160px;
    border: none;
    outline: none;

    background: var(--surface-3);
    color: var(--text);

    text-align: center;
    text-decoration: none;

    box-shadow:
        inset 2px 2px var(--surface-5),
        inset -2px -2px var(--surface-1);

    font-size: 18px;
}

button:not(:disabled):hover, a.button:not(:disabled):hover {
    filter: brightness(125%);
}

button:not(:disabled):active, a.button:not(:disabled):active {
    box-shadow:
        inset 2px 2px var(--surface-1),
        inset -2px -2px var(--surface-5);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.error {
    color: var(--ctp-macchiato-red);
    animation: blink 1.5s infinite;
}

[data-tooltip]:focus, [data-tooltip]:hover {
    position: relative;
}

[data-tooltip]:focus::after, [data-tooltip]:hover::after {
    content: attr(data-tooltip);
    word-wrap: break-word;
    z-index: 999;

    /* Position */
    position: absolute;
    transform: translateX(-50%) translateY(100%);
    width: max-content;
    max-width: 30vw;
    padding: 12px;
    bottom: -5px;
    left: 50%;

    /* Style */
    background: var(--surface-1);
    border: 2px solid var(--surface-3);
    color: var(--text);
    pointer-events: none;
}

:root:has([data-tooltip]:hover) [data-tooltip]:focus {
    display: none !important;
}
