---
import Navigation from "@components/layout/Navigation.astro";
import Header from "@components/layout/Header.astro";
import Footer from "@components/layout/Footer.astro";
import "../style.css";

interface Props {
    title: string;
    path?: string;
}

const { title, path = "~/" + title.toLowerCase().replaceAll(" ", "-") + ".md" } = Astro.props;
---
<html lang="en">
    <head>
        <title>{path}</title>
        <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
        <link
	        rel="alternate" type="application/rss+xml"
    	    title="mudkip's blog" href="/rss.xml"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
			rel="preload"
			href="/fonts/terminus.ttf"
			as="font"
			type="font/ttf"
			crossorigin
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#C6A0F6" />
        <meta property="og:title" content={title} />
        <slot name="metadata" />
    </head>
    <body>
        <main>
            <slot name="header"><Header /></slot>
            <slot name="navigation"><Navigation /></slot>
            <hr><div id="content"><slot /></div><hr>
            <slot name="footer"><Footer /></slot>
        </main>
    </body>
</html>
