---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Profile from "@components/Profile.astro";
import "../style.css";

interface Props {
    title: string;
    path?: string;
}

const { title, path = "~/" + title.toLowerCase().replaceAll(" ", "-") } = Astro.props;
---
<html lang="en">
    <head>
        <title>{path}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
	        rel="alternate" type="application/rss+xml"
    	    title="mudkip's blog" href="/rss.xml"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
			rel="preload"
			href="/terminus.ttf"
			as="font"
			type="font/ttf"
			crossorigin
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#C6A0F6" />
        <meta property="og:title" content={title} />
        <slot name="metadata" />
    </head>
    <body>
        <main>
            <slot name="profile">
                <Profile path={path} />
            </slot>

            <Header />
            <hr>
            <slot />
            <hr>
            <Footer />
        </main>
    </body>
</html>
