---
import "@styles/global.css";
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<title>{title}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="mudkip's blog"
            href="/rss.xml"
        />
	</head>
	<body>
        <h1>{title}</h1>
        <nav>
            <a href="/">home</a>
            <a href="/projects/">projects</a>
            <a href="/blog/">blog</a>
        </nav>
        <main>
            <slot />
        </main>
        <script type="text/javascript" src="/oneko.js"></script>
	</body>
</html>
