---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Profile from "@components/Profile.astro";
import "../style.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
        rel="alternate" type="application/rss+xml"
        title="mudkip's blog" href="/rss.xml"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#C6A0F6" />
        <slot name="metadata">
            <title>~/{title === "mudkip" ? "" : title}</title>
            <meta property="og:title" content={title} />
        </slot>
    </head>
    <body>
        <main>
            <slot name="title">
                <Profile />
            </slot>

            <Header />
            <hr>
            <slot />
            <hr>
            <Footer />
        </main>
    </body>
</html>
