---
import Header from "@components/Header.astro";
import "@styles/global.css";
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="alternate" type="application/rss+xml"
            title="mudkip's blog" href="/rss.xml"
        />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#C6A0F6">
        <meta property="og:title" content={title} />
        <meta property="og:url" content="https://mudkip.dev" />
    </head>
    <body>
        <h1>{title}</h1>
        <Header />
        <main>
            <slot />
        </main>
        <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="fcbb6e44-36ad-4393-a5c2-f6910e693927"></script>
        <script is:inline type="text/javascript" src="/oneko.js"></script>
    </body>
</html>
